* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #19181b;
  color: white;
  font-family: Arial, sans-serif;
}

.site {
  min-height: 200vh;
  background:
    radial-gradient(
      circle at 50% 35%,
      rgba(93, 66, 150, 0.15),
      transparent 30%
    ),
    #19181b;
}
