.luminaria {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 50;
}

.fio {
  width: 2px;
  height: 8rem;

  background: #d8d8d8;

  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}

.armacao-lampada {
  position: relative;
  width: 38px;
  height: 25px;

  background: linear-gradient(to bottom, #eeeeee, #777777);

  border-radius: 50% 50% 20% 20%;

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.lampada {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  height: 0.7rem;
  background: #7752c9;

  border-radius: 50%;

  box-shadow: 0 0 10px #7752c9;
}

.luz{
    border: 1px solid white ;
  position: absolute;

  top: 153px;
  
  width: 600px;
  height: 500px;
  background: linear-gradient(
    to bottom,
    rgba(116, 79, 190, 0.45),
    rgba(116, 79, 190, 0.08),
    transparent
  );
  clip-path: polygon(
    47% 0,
    53% 0,
    100% 100%,
    0 100%
  );
  filter: blur(20px);
  pointer-events: none;
  
}
